.box {
    height: 400px;
    width: 100%;
    background-image: url("/imgs/border.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 50px;
    opacity: 0.8;

}

.sidebar {
    padding-left: 0px;
}

body, html {

}


body {
    background-image: url("/imgs/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    background-image: url("/imgs/body.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    padding: 50px;
    opacity: 0.8;
}


.head {
    background-image: url("/imgs/head.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    margin: 0 auto;
    min-height: 300px;
    padding: 50px;
    opacity: 0.8;
}