.box {
    height: 400px;
    width: 100%;
    background-image: url("/imgs/border.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 50px;

}

.sidebar {
    padding-left: 0px;
}

body, html {
    height: 100%;
}

.body {
    background-image: url("/imgs/border1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    padding: 50px;
}

body {
    background-image: url("/imgs/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}